.DS_Store
*.optrpt
*.opt.yaml
callgrind.out.*
cachegrind.out.*
massif.out.*
dgesv_bench_*
dgesv_icc_test
dgesv_icx_test
dgesv_profile_*
missed_icc_*.txt
profile_*.txt
results_icc_*.txt
results_icx_*.txt
vec_icc_*.txt
vec_icx_*.txt
advisor_*/
vtune_*/
task3.aux
task3.log
task3.out
dgesv_autovec_icc_fast
dgesv_intel_opt_icc
